@import url('https://fonts.googleapis.com/css?family=TikTok+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

/* Playwrite+England+Joined+Guides >< */
/* Rubik+Distressed \/*/
/* Kablammo \/*/
/* Rubik+Wet+Paint \/*/
/* TikTok+Sans \/*/
/* Mochiy+Pop+One >< */
/* Ponomar */
/* 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' */
/* 'https://fonts.googleapis.com/css?family=TikTok+Sans&display=swap' */

/* body {
    font-family: Roboto, serif;
    background: linear-gradient(90deg, #e100ff 0%, #3700ff 100%);
    font-weight: 700;
} */

body {
    font-family: 'TikTok Sans', serif;
    background: linear-gradient(90deg, #e100ff 0%, #3700ff 100%);
    font-weight: 300;
    font-style: italic;
}

.bg-body-tertiary {
    background-color: rgb(14, 15, 15) !important;
}

.nav-link {
    color: aquamarine;
}

.nav-link:hover {
    color: rgb(55, 235, 175);
}

.navbar-nav .nav-link.active {
    color: rgba(65, 172, 15, 0.938);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: aquamarine;
}

.card {
    box-shadow: 10px 10px 16px 1px #44ebb9;
    background: linear-gradient(270deg, #e100ff 0%, #1d0086 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.btn.btn-primary {
    color: rgb(255, 255, 255);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #e100ff 0%, #1d0086 100%);
}

.slide-text {
    color: aquamarine;
    font-size: 1.75em;
    margin: auto auto;
}
.footer-text{
    color: aquamarine;
    margin: auto auto;
    font-size: 1.2em;
}

footer{
     border-top: 2px solid #e2ae20;
}

@media (max-width: 767px) {
    .carousel-indicators {
        display: none;
    }

    .slide-text {
        font-size: 1.4em;
    }
}
@media (max-width: 1178px) {
    .slide-text{
        font-size: 1.4em;
    }
}

/* @media (max-width: 768px){
    .carousel-indicators{
        display: none;
    }
    .slide-text{
        font-size: 1.5em;
    }
} */
/* .col-lg-12.sidebar.my-4{
    font-size: 1.5em;
} */

/* .text-center{
    text-align: justify !important;
} */
/* .test {
    background: linear-gradient(0deg, #e100ff 0%, #3700ff 100%);
} */