body {
    background: linear-gradient(90deg, #e100ff 0%, #3700ff 100%);

}

.bg-body-tertiary {
    background-color: rgb(14, 15, 15) !important;
}

.nav-link {
    color: aquamarine;
}

.nav-link:hover {
    color: rgb(55, 235, 175);
}

.navbar-nav .nav-link.active {
    color: rgba(65, 172, 15, 0.938);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: aquamarine;
}
.card{
    box-shadow: 10px 10px 16px 1px #44ebb9;
}

/* .text-center{
    text-align: justify !important;
} */
/* .test {
    background: linear-gradient(0deg, #e100ff 0%, #3700ff 100%);
} */